/* .button {
  padding-top: 2px;
} */

.button-light {
  color: #775ce5;
  background-color: white;
  border-radius: 12px;
  border: solid 1px;
  width: 333px;
  height: 46px;

  transition: opacity 0.4s;
}

.button-light:hover {
  opacity: 0.7;
}

.button-light:active {
  opacity: 0.3;
}

.button-light:disabled {
  cursor: default;
  opacity: 0.7 !important;
}
